body {
  margin: 0;
  background-color: #71c9ce;
  min-height: 100vh;

}

button {
background: none;
appearance: none;
color: inherit;
font: inherit;
padding: 0;
margin: 0;
border: none;
cursor: pointer;
outline: none;
}

p{
  margin: 0;
  padding: 0;}